<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem name="Hospital"
              id="menu_hospital"
              web_icon="om_hospital,static/description/icon.png"
              sequence="0"/>
    <menuitem name="Patient Details"
              id="menu_patient"
              parent="menu_hospital"
              sequence="0"/>
    <menuitem name="Appointments"
              id="menu_appointment"
              parent="menu_hospital"
              sequence="10"/>
<!--    <menuitem name="Configurations"-->
<!--              id="menu_conf"-->
<!--              parent="menu_hospital"-->
<!--              sequence="15"/>-->

</odoo>